<div class="container d-flex justify-content-center">
    <div class="align-self-center row col-md-10">
        <mat-card class="py-1">
            <div class="row d-flex justify-content-center text-center wrap">
                <div class="col-6 d-flex p-0">
                    <img  src="../../../assets/lanches.jpg" >
                </div>

                <div class="col-6 d-flex formulario p-0 text-center">
                    <div class="row d-flex text-center m-0 p-0 w-100">     
                            <div class="col-12">
                                <div>
                                    <h1 class="mt-5">IFOME</h1>
                                    <hr>
                                </div>

                                <h3>Logar como: </h3>
                                <form class="example-form" [formGroup]="formulario">
                                    <mat-radio-group aria-label="Select an option" formControlName="radioButton" class="mt-3" >
                                        <mat-radio-button value="1" class="ms-3">Cliente</mat-radio-button>
                                        <mat-radio-button value="2" class="ms-3">Funcionario</mat-radio-button>
                                    </mat-radio-group>

                                    <div class="mt-3" >
                                        <div *ngIf="getCampo('radioButton').value == 1 ;else funcionario">
                                            <mat-form-field class="example-full-width">
                                            <mat-label class="text-center">Email</mat-label>
                                            <input matInput type="email" formControlName="email" placeholder="Digite seu email">
                                            <mat-error *ngIf="getCampo('email').hasError('email') && !getCampo('email').hasError('required')">
                                                Por favor, entre com um email válido.
                                            </mat-error>
                                            <mat-error *ngIf="getCampo('email').hasError('required')">
                                                O Email é <strong>obrigatório</strong>.
                                            </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <ng-template #funcionario>
                                            <mat-form-field class="example-full-width">
                                            <mat-label class="text-center">Matrícula *</mat-label>
                                            <input matInput formControlName="matricula" placeholder="Digite sua matricula">
                                            <mat-error *ngIf="getCampo('matricula').hasError('required')">
                                                A Matrícula é <strong>obrigatória</strong>.
                                            </mat-error>
                                            <mat-error *ngIf="getCampo('matricula').hasError('minlength') || getCampo('matricula').hasError('maxlength')">
                                                A Matrícula deve conter apenas <strong>14 caracteres</strong>.
                                            </mat-error>
                                            </mat-form-field>
                                        </ng-template>
                                    </div>

                                    <div>
                                        <mat-form-field class="example-full-width">
                                            <mat-label class="text-center">Senha</mat-label>
                                            <input type="password" matInput formControlName="senha" placeholder="Digite sua senha">
                                            <mat-error *ngIf="getCampo('senha').hasError('required')">
                                            A Senha é <strong>obrigatória</strong>.
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div>
                                        <mat-checkbox class="mt-2" formControlName="lembrarUsuario">Lembrar meu usuário</mat-checkbox>
                                    </div>

                                    <div>
                                        <button mat-raised-button color="accent" (click)="login()" class="mt-3">Login</button>
                                    </div>

                                    <div class="mt-4">
                                        <p>Ainda não possui uma conta? <strong>Cadastre-se</strong></p>
                                    </div>

                                </form>
                            </div>                   
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>